- var title = "Title"
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{title}
        meta(name="title" content="")
        meta(name="description" content="")
        //- link(rel="shortcut icon" href="/assets/images/favicon.png")
    body
        canvas#render-canvas

        #ui.is-overlay
            .container
